<header class="header">
    <div class="container">
        <div class="wrapp">
            <ul class="header-list">
                <li class="header-list__item"><a routerLink="/" style="font-weight: bold;">SCHOOL</a></li>
            </ul>
            <ul class="header-list">
                <a class="header-list__item" routerLink="/login">Войти</a>
                <a class="header-list__item" routerLink="/registration">Зарегестрироваться</a>
            </ul>
        </div>
    </div>
</header>
